@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  list-style: none;
  box-sizing: border-box;
  outline: 0;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #37364f;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 950px) {
  .page {
    background-color: white;
  }
}

.page .modal {
  width: 927px;
  height: 641px;
  background-color: white;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 400px;
  padding: 20px;
  transition: all 1s;
}

@media (max-width: 950px) {
  .page .modal {
    width: 100%;
    min-width: 375px;
    height: 100vh;
    border-radius: 0;
    display: block;
    padding: 0;
  }
}

.page .modal .modal-img-mobile {
  display: none;
}

@media (max-width: 950px) {
  .page .modal .modal-img-mobile {
    display: block;
    text-align: center;
  }
}

.page .modal .modal-texto {
  padding: 60px;
  color: #150c37;
}

@media (max-width: 950px) {
  .page .modal .modal-texto {
    padding: 30px 20px;
  }
}

.page .modal .modal-texto .checklist {
  margin: 35px 0px;
}

.page .modal .modal-texto .checklist .lista {
  display: flex;
  margin-bottom: 15px;
}

.page .modal .modal-texto .checklist .lista img {
  margin-right: 15px;
}

.page .modal .modal-texto .label {
  display: block;
}

.page .modal .modal-texto .label .legendas {
  display: flex;
  justify-content: space-between;
}

.page .modal .modal-texto .label .legendas .legenda {
  font-size: 12px;
  margin-bottom: 7px;
}

.page .modal .modal-texto .label .legendas .legenda-erro {
  color: #ff5417;
  display: none;
}

.page .modal .modal-texto .label .input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px 25px;
  margin-bottom: 30px;
}

.page .modal .modal-texto .label .input::placeholder {
  color: #9d9da2;
  font-size: 15px;
}

.page .modal .modal-texto .label .input:focus {
  outline: 1px solid #150c37;
}

.page .modal .modal-texto .label.erro .input {
  background-color: rgba(255, 84, 23, 0.2);
  border: solid 1px #ff5417;
}

.page .modal .modal-texto .label.erro .input::placeholder {
  color: #ff5417;
}

.page .modal .modal-texto .label.erro .legenda-erro {
  display: block;
}

@media (max-width: 950px) {
  .page .modal .modal-img {
    display: none;
  }
}

.page .modal .modal-sucesso {
  display: none;
  padding: 50px;
}

.page .modal .modal-sucesso .img, .page .modal .modal-sucesso .texto {
  margin-bottom: 30px;
}

.page .modal .modal-sucesso span {
  font-weight: bold;
}

.page .modal.sucesso {
  display: block;
  width: 505px;
  height: 525px;
}

@media (max-width: 950px) {
  .page .modal.sucesso {
    height: 100vh;
  }
}

.page .modal.sucesso .modal-texto, .page .modal.sucesso .modal-img, .page .modal.sucesso .modal-img-mobile {
  display: none;
}

.page .modal.sucesso .modal-sucesso {
  display: block;
}

@media (max-width: 950px) {
  .page .modal.sucesso .modal-sucesso {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    height: 100%;
    padding: 100px 20px 20px 20px;
  }
}

.titulo {
  font-size: 3.5em;
  margin-bottom: 30px;
  color: #150c37;
  transition: 1s;
}

@media (max-width: 950px) {
  .titulo {
    font-size: 2.5em;
  }
}

.texto {
  font-family: 'Roboto-Regular' !important;
  color: #150c37;
}

.button {
  border-radius: 5px;
  border: 0px;
  background-color: #150c37;
  height: 50px;
  color: white;
  width: 100%;
  font-size: 16px;
}

.button:hover {
  background-image: linear-gradient(90deg, #ff006b, #ff5417);
  cursor: pointer;
  box-shadow: 0px 20px 20px 0px rgba(255, 84, 23, 0.3);
}
